/* *{
    margin: 0;
    padding: 0;

}
.title{
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
section{
    align-items: center;
    
}
.card--title{
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
}
.card--area{
    min-width: 100vh;
    background: rgb(114, 118, 119);
    display: flex;
    padding: 20px;
}
.card--1{
    background-color: aqua;
    padding: 20px;
    max-width: 250px;
    margin-left: 10px;
    justify-content:space-between;
} */
.card--area{
    max-width: 100%;
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card--1{
      max-width: 400px;
      background-color: blueviolet;
      padding: 10px;
      margin: 20px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
}